body
{
background-size: cover;
}
h1{
    width: 100%;
    margin: 0px;
}
#how
{
    float: right;
    margin-right: 20px;
}
canvas
{
    align-self: center;
    border: 5px ridge blue;
}
#start, #status
{
    margin: 10px;
}
